	:root {
		--text: rgb(18, 60, 75);
		--border: #f3e5d4;
		--accent: #047a87;
		--bg: #dce3e1;
		--gradientTop: white;
		--gradientBottom: #f2f2f2;
	}
	header {
		background: url('***light mode banner image***');
	}

	 @font-face {
                font-family: FreePixel;
                src: url('fonts/FreePixel.ttf') format('truetype');
            }

* { 
	box-sizing: border-box;
}
body {
	font-family: 'FreePixel', sans-serif;
	color: var(--text);

	background-image:  url('https://64.media.tumblr.com/15c18eb6be02e6b62601f109f677b598/47d032ea233c8d6b-19/s100x200/fd65edf5a03d67e051bbad76621fc4c24ae8dfd8.gifv');

}


.container {
	max-width: 55rem;
	margin: 5vw auto 12px auto;
	border: 6px ridge var(--border);
	outline: 3px solid var(--gradientTop);
	outline-offset: 4px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	gap: 5px;
}
/* column widths */
.small { flex: 1 1 10%; }
.large { flex: 1 1 82%; }
.full { flex: 1 1 100%; }
.half { flex: 1 1 49%; }


header {
	background-image: url("image/MAIN HEADER.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 180px; 
	border: 3px ridge var(--border);
	border-radius: 5px;
	position: relative;
}

header a {
	color: #c23a06;
		text-decoration: none;
		font-size: 20px; 
		font-weight: bold; 
}

header span {
	font-size: 2rem;
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 10px;
	font-weight: bold;
	text-shadow: 1px 1px var(--text),
		-1px 1px var(--text),
		1px -1px var(--accent),
		-1px -1px var(--accent);
	color: var(--gradientTop);
}


nav {
	border: 2px ridge var(--border);
	border-radius: 5px;
	padding: 5px;
	background: linear-gradient(var(--gradientTop),var(--gradientBottom));
}
nav div {
	text-align: center;
	font-size: 1.25rem;
	margin: 5px 5px 10px 5px;
}
nav a {
	display: block;
	margin: 5px;
	background: linear-gradient(to right,var(--bg),var(--gradientBottom));
	border-radius: 5px;
	padding: 2px 7px;
	text-decoration: none;
}

nav a:link, nav a:visited { 
	color: var(--text);
}
nav a:hover, nav a:focus {
	background: linear-gradient(to right,var(--bg), var(--gradientBottom), var(--gradientTop));
}

/* optional button styling*/
div.small > img {
	display: block;
	margin: 5px auto;
	border:2px ridge var(--border);
	border-radius: 5px;
}
div.small > a {
	display: block;
	margin: 5px auto;
	border:2px ridge var(--border);
	border-radius: 5px;
}


section {
	border: 2px ridge var(--border);
	border-radius: 5px;
	background: linear-gradient(var(--gradientTop),var(--gradientBottom));
	padding: 5px;
}
section.small > img {
	display: block;
	margin: 5px auto;
	border:2px ridge var(--border);
	border-radius: 5px;
}
section.half {
  word-wrap: break-word; 
  overflow-wrap: break-word;
}


footer {
	text-align: center ;
	margin-bottom: 5vw;
	font-size: 0.9rem;
}
footer a { 
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p  { 
	margin: 5px;
	line-height: 1.2;
}
h1 { 
	font-size: 1.4rem;
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px ridge var(--border);
	padding-bottom: 5px;
}
h2 { 
	font-size: 1.25rem;
	font-weight: normal;
	text-align: center;
}
h3 { 
	font-size: 1.1rem;
}
h4 { 
	font-size: 1rem;
	color: var(--accent);
	padding-left: 12px;
}

/* prevents overflow on smaller screens */
img { max-width: 100%; }
pre { overflow-x: auto; }

a {
	
	color: #03a9bc;
}
a:hover, a:focus {
	font-style: italic;
}
a:visited {
	color: #c23a06;
}

.sidebar-img {
	border-radius: 8px;	
	border:2px ridge var(--border);

	max-width: 100%;
	width: 45%;      
  	height: auto; 
	margin: 5px ;
	margin-bottom: 3%;
}


.gj-img {
	border-radius: 8px;	
	border:2px ridge var(--border);

	max-width: 100%;
	width: 75%;      
  	height: auto; 
	margin: 5px ;
	margin-bottom: 3%;
}